*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --red: #c0392b;
  --green: #009432;
  --blue: #2980b9;
}

.u-center {
  text-align: center;
}

.game-area {
  height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
}

.game-interface-wrapper,
.gamelog-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.game-interface-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.game-btn {
  margin: 0 .5rem;
}

.game-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  font-size: 5rem;
  color: hsl(0, 0%, 15%);
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 99px;
}

#game-btn-rock a:hover {
  color: var(--red);
  border: 2px solid var(--red);
}

#game-btn-paper a:hover {
  color: var(--blue);
  border: 2px solid var(--blue);
}

#game-btn-scissors a:hover {
  color: var(--green);
  border: 2px solid var(--green);
}

.game-btn a,
.game-btn a:hover {
  transition: .3s;
}


#gamelog-board {
  flex-grow: 1;
  background-color: hsl(0, 0%, 88%);
  padding: 0 .5rem;
  overflow: auto;
}