.modal {
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
  
  &__content {
    width: 90%;
    max-width: 60rem;
  }
  
  &__body {
    padding: 2rem;
    background-color: white;
  }
  
  &__footer {
    background-color: $light-grey;
    text-align: right;
    padding: 1rem 2rem;
  
    & .button {
      margin-bottom: 0;
    }
  }
  
  
}

